
#formulario {
    padding: 45px;
}
.form-titulo{
    background:white;
    text-align: center;
    border-bottom: solid 5px black;
    border-radius: 8px 8px 0px 0px;
}
.form-registro{
    width: 95%;
    margin: auto;
    background: white;
    max-width: 600px;
    border-radius: 8px;
}

.form-group {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.form-row {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    
}
.form-control {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}
